<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin">
      <ion-col size="12" size-md="8" size-lg="6">

        <div class="ion-padding">
          <ion-title class="ion-text-center">
            <h1>Bienvenido nuevo usuario</h1>
          </ion-title>
        </div>


        <div class="ion-text-center">
          <h4>Ingrese sus datos aquí</h4>
        </div>


        <form [formGroup]="registro" >

          <ion-item>
            <ion-label position="floating">Nombre de usuario</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input type="email" formControlName="correo"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="contraseña"></ion-input>
          </ion-item>


          <ion-list class="ion-text-center">
            <ion-button shape="round" [routerLink]="['/login']">Iniciar Sesión</ion-button>
            <ion-button type="submit" shape="round" (click)="registrar()">Registrarse</ion-button>

          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>