/* Estilo para la carta */
.carta {
    width: 70%; /* Ancho de la carta */
    height: 10% auto; /* Altura de la carta */
    margin: 24% auto; /* Centrando la carta */
    border: 2px solid red auto; /* Borde rojo */
    border-radius: 8px; /* Esquinas redondeadas */
    background-color: #fff; /* Color de fondo blanco */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Centrar el texto */
  }
  
  /* Estilo para la imagen de la carta */
  .carta img {
    max-width: 100%; /* Asegura que la imagen no sobrepase el contenedor */
    height: 80%; /* Mantener la proporción de la imagen */
  }
  
  /* Estilo para el encabezado h3 */
  h3 {
    color: #333; /* Color del texto */
    font-size: 3.2m; /* Tamaño de fuente */
    margin: 10px 0; /* Espaciado superior e inferior */
    text-align: center;
  }