.conseguirImagen{
    width: 70%; 
    height: 10% auto; 
    margin: 24% auto;
    border: 2px solid red auto; 
    border-radius: 8px; 
    background-color: #db3333; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

ion-content {
    --background: #2c2b2c;
  }
  
  
  ion-item{
    --background: #666666;
  }

  ion-card {
    --background: #534e4e;
  }

  ion-toolbar{
    --background: #161616;
  }

  ion-back-button{
    --background: #df4141;
    --color: #ffffff;
  }

  .titulo {
    margin-top: 20%; /* Separa el botón del input */
  }
