ion-content{
    --overflow: hidden;
    padding: 0;
  }

  ion-content {
    --background: #2c2b2c;
  }
  
  
  ion-item{
    --background: #666666;
  }

  ion-toolbar{
    --background: #161616;
  }

  ion-back-button{
    --background: #df4141;
    --color: #ffffff;
  }

  ion-button{
    --background: #851515;
    --ripple-color: rgb(255, 20, 255);
    --background-focused: #5e35f1;
  }
  

  .items {
    margin-top: 15%; /* Separa el botón del input */
  }
.item{
  margin-top: 6%
}