.conseguirImagen{
    width: 70%; 
    height: 10% auto; 
    margin: 24% auto;
    border: 2px solid red auto; 
    border-radius: 8px; 
    background-color: #fff; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

