
<ion-content [fullscreen]="true">
  <div class="titulo-texto">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button default-href="#"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>




        <!-- Formulario de configuración de la partida -->
        <ion-item>
          <ion-input label="Nombre de la partida" labelPlacement="floating" [(ngModel)]="data.nombrePartida"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Número de participantes" labelPlacement="floating" type="number" [(ngModel)]="data.numParticipante"></ion-input>
        </ion-item>

        <ion-item>
          <ion-select label="Tipo de juegos" placeholder="Seleccione nivel" [(ngModel)]="data.juego">
            <ion-select-option *ngFor="let niv of niveles" [value]="niv.id">{{niv.nivel}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-input label="Puntos a ganar" labelPlacement="floating" type="number" [(ngModel)]="data.puntos"></ion-input>
        </ion-item>

        <!-- Botones de acción -->
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="block" (click)="limpiar()">Limpiar</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" (click)="mostrar()">Mostrar</ion-button>

            </ion-col>
          </ion-row>
        </ion-grid>

</ion-content>
