<ion-content class="no-scroll">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin">
      <ion-col size="12" size-md="8" size-lg="6">

        <!-- Card de Iniciar Sesión -->
        <ion-card>
          <img 
            alt="Silhouette of mountains" 
            src="https://images.vexels.com/content/273010/preview/role-play-dice-icon-447ace.png" 
          />
          <ion-card-header>
            <ion-card-title class="ion-text-center">Iniciar Sesión</ion-card-title>
          </ion-card-header>
        </ion-card>

        <!-- Formulario de Inicio de Sesión -->
        <div class="ion-text-center">
          <ion-card-content>
            <ion-item>
              <ion-input 
                label="Usuario" 
                labelPlacement="floating" 
                [(ngModel)]="login.usuario">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input 
                label="Password" 
                labelPlacement="floating" 
                type="password" 
                [(ngModel)]="login.password">
              </ion-input>
            </ion-item>
          </ion-card-content>
        </div>

        <!-- Lista de Botones -->
        <ion-list style="text-align: center;">
          <ion-button class="ion-button" shape="round" (click)="ingresar()">Iniciar Sesión</ion-button>
          <h1></h1>
          <ion-button class="ion-button" shape="round" (click)="registarse()">Registrarse</ion-button>
          <h1></h1>
          <a id="open-modal">¿Contraseña olvidada?</a>
        </ion-list>

        <!-- Definición del modal -->
        <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancelar</ion-button>
                </ion-buttons>
                <ion-title>Recuperar Contraseña</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" >Confirmar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>

            <ion-content class="ion-padding">
              <h6 style="text-align: center;">Ingresa tu correo electronico para buscar tu contraseña</h6>
              <ion-item>
                <ion-input
                  Label="Correo"
                  type="email"
                  placeholder="ejemplo123@ejemplo123.com"
                  [(ngModel)]="recuperar.correo">
                </ion-input>
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-modal>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
