<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="irAPerfil()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin">
      <ion-col size="12" size-md="8" size-lg="6">
        <div id="bienvenida-home">
          <!-- Bienvenida -->
           <div class="ovalo">
            <ion-title class="ion-text-center">
              <ion-label>
                <h1 #animarH1 style="font-size: 40px;" class="texto-titulo" >Hola, {{login.nombre}}</h1>
              </ion-label>
            </ion-title>
           </div>
        </div>

        <div class="opcion1">
          <ion-card button [routerLink]="['/creacion-partida']" >
            <ion-card-content>
              <img id="tamaño-icono-cartas" src="https://www.svgrepo.com/show/322935/party-popper.svg" />
              <h4 class="texto-tamaño">Creacion de partidas</h4>
            </ion-card-content>
          </ion-card>
        </div>

        <div class="opcion2">
          <ion-card button>
            <ion-card-content>
              <img id="tamaño-icono-cartas" src="https://www.shareicon.net/download/2015/11/15/672591_man.svg" />
              <h4 class="texto-tamaño">Partidas guardadas</h4>
            </ion-card-content>
          </ion-card>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
