ion-toolbar {
    --background: transparent;
}

ion-content{
  --overflow: hidden;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1200px;
}


#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(50% - 20px); /* Dos cartas por fila, menos el gap */
  /* Ajustar al 100% en pantallas pequeñas */
}

.card-img {
  width: 100%;
  height: 200px; /* Ajusta esto según el tamaño deseado para la imagen */
  object-fit: cover; /* Mantiene el aspecto de la imagen y recorta si es necesario */
}

.card-content {
  padding: 16px;
}

.card-content h2 {
  margin-bottom: 8px;
  font-size: 1.5em;
}

.card-content p {
  font-size: 1em;
}

/* Responsividad */
@media (max-width: 768px) {
  .card {
      width: calc(100% - 20px); /* Una carta por línea en pantallas pequeñas */
  }
}
//////
ion-content{
  --overflow: hidden;
  padding: 0;
}

#bienvenida-home{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  width: 100%;
  height: 100px; 
  text-align: center;
  background-color: #a67c52;
}

.ovalo{
  position: absolute;
  height: 200px; 
  width: 60%;
  background-color: #555;
  border-radius: 50%;
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-style:dashed ;
  border-color: rgb(54, 58, 58);
}

.texto-titulo{
  display: flex;
  justify-content: center;
  font-size: 4vw;
}

///////
.opcion1{
  position: absolute;
  display: flex;
  width: 40%;
  /* height: 40%; */
  margin: 8%;
  margin-right: 10%;
  text-align: center;
  justify-content: center;
  display: flex;
 
}

#tamaño-icono-cartas{
  height: 80px;
  top: 10%;
}

.texto-tamaño{
  display: flex;
  font-size: 4vw;
  text-align: center;
}
////
.opcion2{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 40%;
  margin: 8%;
  margin-left: 10%;
  text-align: center;
  align-items: center;
  left: 42%;
  bottom: auto;
 }


